*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    font-family: $font-family;
}
html{
    font-size: 100%;
}

.container {
    display: grid;
    grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
    grid-template-rows: repeat(4, min-content) auto;
    background-color: color(tertiary);
    
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    & > *:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}