.categorias {
    display: flex;
    flex-direction: column;
    align-items: center; // Centra el h2
    text-align: center; // Asegura que el texto se vea centrado
    gap: 1rem;
    padding: 2rem;

    &-titulo {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .categorias-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        justify-items: center;
        width: 100%;

        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }
    }
}