.footer {
    width: 100vw;
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    background-color: #111;
    color: #fff;
    padding: 2rem;
    text-align: left;
    gap: 2rem;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-section {
        padding: 1rem;
    }
}
