.card { 
  @extend %card-base; 
  flex: 1; 
  margin: 1rem; 
  max-width: 350px; 

  @media (min-width: 768px) { 
    // Ajusta el tamaño y distribución en pantallas más grandes 
    min-width: 250px; 
    flex: 0 1 calc(33.333% - 2rem); 
  }

  &__img-container { 
    // Contenedor de la imagen con tamaño fijo y ocultando el desbordamiento 
    height: 20rem; 
    overflow: hidden; 
  }

  &__img { 
    // Ajusta el tamaño de la imagen 
    width: 100%; // Asegura que la imagen ocupe todo el ancho del contenedor 
    height: 100%; // Ajusta la altura al 100% del contenedor
    object-fit: cover; // La imagen cubre todo el contenedor, recortando los bordes si es necesario
    transition: transform $transition-time ease; 

    &:hover { 
      transform: scale(1.05); // Mantiene el efecto al hacer hover
    }
  }

  &__texto { 
    // Estilos generales de la sección de texto 
    padding: 2rem; 
    text-align: center; 

    h4 { 
      color: color(secondary);
      margin-bottom: 1rem;
      font-size: 1.5rem; 
    }

    p {
      font-size: 1.2rem; 
      color: darken-color(#777, 10%); 
    }
  }
}
