.card { 
  @extend %card-base; 
  flex: 1; 
  margin: 1rem; 
  max-width: 350px; 

  @media (min-width: 768px) { 
    // Ajusta el tamaño y distribución en pantallas más grandes 
    min-width: 250px; 
    flex: 0 1 calc(33.333% - 2rem); 
  }

  &__img-container { 
    // Contenedor de la imagen con tamaño fijo y ocultando el desbordamiento 
    height: 20rem; 
    overflow: hidden; 
  }

  &__img { 
    // Imagen ajustada al contenedor con animación en hover 
    object-fit: cover; 
    transition: transform $transition-time ease; 

    &:hover { 
      transform: scale(1.05); 
    }
  }

  &__texto { 
    // Estilos generales de la sección de texto 
    padding: 2rem; 
    text-align: center; 

    h4 { 
      margin-bottom: 1rem; 
    }

    p { 
      color: darken-color(#777, 10%); 
    }
  }
}
