.categoria {
    @include card-styles;
    position: relative;
    overflow: hidden; // Asegura que los elementos no sobresalgan

    img {
        transition: opacity 0.3s ease-in-out; // Transición suave
    }

    .categoria-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background: rgba(0, 0, 0, 0.6);
        padding: 0.5rem 1rem;
        border-radius: 5px;
        opacity: 0; // Inicialmente oculto
        transition: opacity 0.3s ease-in-out;
    }

    &:hover img {
        opacity: 0.5; // Oscurece la imagen al pasar el ratón
    }

    &:hover .categoria-text {
        opacity: 1; // Muestra el texto centrado
    }
}