.footer-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: 1.5rem;

    a {
        color: #fff;
        transition: color 0.3s;

        &:hover {
            color: #ccc;
        }
    }
}
