.footer-icons { 
    // Contenedor flexible para iconos con separación y centrado 
    display: flex; 
    gap: 1rem; 
    justify-content: center; 
    font-size: 1.5rem; 

    a { 
        // Color blanco con transición en hover 
        color: #fff; 
        transition: color 0.3s; 

        &:hover { 
            color: #ccc; 
        } 
    } 
}
