.heading { 
    // Ubicación en la cuadrícula y alineación del contenido 
    grid-column: 3/8; 
    grid-row: 1/2; 
    text-align: center; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-top: 1rem; 

    &-text { 
        // Estilos de fuente y color para el texto 
        font-family: $Secundaria; 
        letter-spacing: 0.25rem; 
        color: color(secondary); 
    }
}
